<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Travelgram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="content">
  <div class="welcome-container">
    <h1>BIENVENIDO A TRAVELGRAM</h1>
    <p>¡Comparte tus experiencias de viaje!</p>
  </div>
  <div class="card-container">
    <ion-card class="trip-card">
      <img src="assets/trip1.png" class="card-image" />
      <ion-card-header>
        <ion-card-title>Playa Barú</ion-card-title>
        <ion-card-subtitle>Cartagena, Colombia</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="trip-card">
      <img src="assets/trip1.png" class="card-image" />
      <ion-card-header>
        <ion-card-title>Desierto de la Tatacoa</ion-card-title>
        <ion-card-subtitle>Huila, Colombia</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="trip-card">
      <img src="{{imageSource}}" class="card-image" />
      <ion-card-header>
        <ion-card-title>titulo</ion-card-title>
        <ion-card-subtitle>ubicacion</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div id="upload-container">
    <ion-button color = "transparent" (click)="takePicture()" >
      <ion-icon name="camera" class="camera-icon"></ion-icon>
      Camara
    </ion-button>
  </div>
</ion-content>





