<ion-header [translucent]="true" class="header">
  <img src="assets/summer.png" class="card-icon" />
  <ion-toolbar>
    <ion-title class="custom-title">
      TRAVELGRAM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="content">
  <div class="welcome-container">
    <h1>BIENVENIDO A TRAVELGRAM</h1>
    <p>¡Comparte tus experiencias de viaje!</p>
  </div>
  <div class="card-container">
    <ion-card class="trip-card">
      <img src="assets/trip1.png" class="card-image" />
      <ion-card-header>
        <ion-card-title>Playa Barú</ion-card-title>
        <ion-card-subtitle>Cartagena, Colombia</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="trip-card">
      <img src="assets/trip3.png" class="card-image" />
      <ion-card-header>
        <ion-card-title>Esquiando en Alaska!</ion-card-title>
        <ion-card-subtitle>Alaska, USA</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="trip-card" *ngIf="showCard">
      <img src="{{imageSource}}" class="card-image" />
      <ion-card-header>
        <ion-card-title>Mi último viaje</ion-card-title>
        <ion-card-subtitle>Popayán</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div id="upload-container">
    <ion-button color = "transparent" (click)="takePicture()" >
      <ion-icon name="camera" class="camera-icon"></ion-icon>
      Camara
    </ion-button>
  </div>
</ion-content>





